::-webkit-scrollbar {
    height: 20px;
    width: 20px;
    background: #242a30;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    border: 7px solid #242a30;
    background-color: #242a30;
    width: 6px !important;
    box-sizing: content-box;
}

::-webkit-scrollbar-track:hover {
    background-color: #BFC0C2;
}

::-webkit-scrollbar-thumb {
    background-color: #3DAEE9;
    border: 7px solid transparent;
    border-radius: 20px;
    background-clip: content-box;
    width: 6px !important;
    box-sizing: content-box;
    min-height: 30px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: #949699;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #93CEE9;
}

::-webkit-scrollbar-corner {
    background-color: #242a30;
}